<%- include("../header"); %>
<div class="col-8">
    <h1>Edit product</h1>
    <form method="post" action="/products/edit">

        <input value="<%= product.id %>" name="id" type="hidden">
        <div class="form-group">
            <label for="name">Name</label>
            <input value="<%= product.name %>" required id="name" placeholder="product's name"
                class="form-control" type="text" name="name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input value="<%= product.price %>" required id="price" placeholder="product's price"
                class="form-control" type="number" name="price">
        </div>
        <div class="form-group">
            <button class="btn btn-success">Save</button>
            &nbsp;<a href="/products" class="btn btn-primary">back</a>
        </div>
    </form>
</div>
<%- include("../footer"); %>